@model Sitecore.Education.TodoManager.Models.TaskList
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="??" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@item.Name</h5>
                <small>@item.Status</small>
                <small>@item.Category</small>
                <small>Due date: @item.DueDate</small>
            </div>
            <p class="mb-1">@item.Details</p>

        </a>
    }

</div>